*{
    margin:0;
    padding:0;
}
header{
    min-height:80px;
    width:100%;
    position:absolute;
    display:flex;
    align-items:center;
    justify-content: space-between;
    top:0;
    left:0;
    right:0;
}

header h3{
    margin-left:20px;
    font-size:30px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}

header .menu{
    display:flex;
    align-items:center;
    padding-right: 15px;
    right:0%;
}

.menu a{
    font-size:30px;
    font-family: 'Lora', serif;
    font-weight:600;
    padding:0 30px;
    flex-wrap:no-wrap;
    text-decoration: none;
    color:white;

}

.menu a:hover{
    transition: 2s;
    letter-spacing:5px;
}


@media(max-width:768px){
    .menu a{
        font-size:10px;
    }
}

